services:
	moduleManager:
		setup:
			- addModule(Crm\InvoicesModule\InvoicesModule())

	invoiceGenerator:
		class: Crm\InvoicesModule\InvoiceGenerator
		setup:
			- setTempDir('%tempDir%/../mpdf')
	receiptGenerator:
		class: Crm\InvoicesModule\ReceiptGenerator
		setup:
			- setTempDir('%tempDir%/../mpdf')

	invoiceNumber: Crm\InvoicesModule\Repository\InvoiceNumber

	invoicesRepository: Crm\InvoicesModule\Repository\InvoicesRepository
	invoiceItemsRepository: Crm\InvoicesModule\Repository\InvoiceItemsRepository
	invoiceNumbersRepository: Crm\InvoicesModule\Repository\InvoiceNumbersRepository

	- Crm\InvoicesModule\Commands\SendInvoiceCommand

	- Crm\InvoicesModule\Components\DownloadReceiptButton
	- Crm\InvoicesModule\Components\InvoiceLabel
	- Crm\InvoicesModule\Components\InvoiceAdminButtonFactory
	- Crm\InvoicesModule\Components\InvoiceFrontendButtonFactory
	- Crm\InvoicesModule\Components\PaymentSuccessInvoiceWidget

	- Crm\InvoicesModule\DataProvider\UserFormDataProvider
	- Crm\InvoicesModule\Events\AddressChangedHandler
	- Crm\InvoicesModule\Events\AddressRemovedHandler
	- Crm\InvoicesModule\Events\PreNotificationEventHandler
	- Crm\InvoicesModule\Events\NewAddressHandler
	- Crm\InvoicesModule\Events\PaymentStatusChangeHandler
	- Crm\InvoicesModule\Forms\ChangeInvoiceDetailsFormFactory
	- Crm\InvoicesModule\Forms\UserInvoiceFormFactory
	- Crm\InvoicesModule\Gateways\ProformaInvoice
	- Crm\InvoicesModule\Hermes\ZipInvoicesHandler
	- Crm\InvoicesModule\Hermes\GenerateInvoiceHandler

	- Crm\InvoicesModule\Sandbox\InvoiceZipGenerator
	invoiceSandbox: Crm\InvoicesModule\Sandbox\InvoiceSandbox('/tmp')

	- Crm\InvoicesModule\Seeders\ConfigsSeeder
	- Crm\InvoicesModule\Seeders\AddressTypesSeeder
	- Crm\InvoicesModule\Seeders\PaymentGatewaysSeeder

	- Crm\InvoicesModule\User\InvoicesUserDataProvider

	paymentInvoiceProvider:
		setup:
			- register(Crm\InvoicesModule\DataProvider\PaymentInvoiceProvider())
