services:
	moduleManager:
		setup:
			- addModule(Crm\InvoicesModule\InvoicesModule())

	invoiceGenerator:
		factory: Crm\InvoicesModule\Models\Generator\InvoiceGenerator
		setup:
			- setTempDir('%tempRoot%/mpdf')
	receiptGenerator:
		factory: Crm\InvoicesModule\Models\Generator\ReceiptGenerator
		setup:
			- setTempDir('%tempRoot%/mpdf')

	invoiceNumber: Crm\InvoicesModule\Models\InvoiceNumber\InvoiceNumber

	invoicesRepository: Crm\InvoicesModule\Repositories\InvoicesRepository
	invoiceItemsRepository: Crm\InvoicesModule\Repositories\InvoiceItemsRepository
	invoiceNumbersRepository: Crm\InvoicesModule\Repositories\InvoiceNumbersRepository
	vatIdConsultationsRepository: Crm\InvoicesModule\Repositories\VatIdConsultationsRepository

	- Crm\InvoicesModule\Commands\SendInvoiceCommand

	- Crm\InvoicesModule\Components\ChangePaymentCountryWarningWidget\ChangePaymentCountryWarningWidget
	- Crm\InvoicesModule\Components\DownloadReceiptButton\DownloadReceiptButton
	- Crm\InvoicesModule\Components\DownloadReceiptButton\DownloadReceiptButtonFactory
	- Crm\InvoicesModule\Components\DownloadReceiptButton\ReceiptAdminButtonFactory
	- Crm\InvoicesModule\Components\InvoiceAddressTransferSummaryWidget\InvoiceAddressTransferSummaryWidget
	- Crm\InvoicesModule\Components\InvoiceDetailsWidget\InvoiceDetailsWidget
	- Crm\InvoicesModule\Components\InvoiceLabel\InvoiceLabel
	- Crm\InvoicesModule\Components\InvoiceButton\InvoiceAdminButtonFactory
	- Crm\InvoicesModule\Components\InvoiceButton\InvoiceFrontendButtonFactory
	- Crm\InvoicesModule\Components\PaymentSuccessInvoiceWidget\PaymentSuccessInvoiceWidget

	- Crm\InvoicesModule\DataProviders\UserFormDataProvider
	- Crm\InvoicesModule\DataProviders\ConfigFormDataProvider
	- Crm\InvoicesModule\DataProviders\UniversalSearchDataProvider
	- Crm\InvoicesModule\DataProviders\AddressFormDataProvider
	- Crm\InvoicesModule\DataProviders\ChangePaymentCountryDataProvider
	- Crm\InvoicesModule\DataProviders\OneStopShopCountryResolutionDataProvider
	- Crm\InvoicesModule\DataProviders\SubscriptionTransfer\AddressToTransferRetriever
	- Crm\InvoicesModule\DataProviders\SubscriptionTransferFormDataProvider
	- Crm\InvoicesModule\DataProviders\VatModeDataProvider
	- Crm\InvoicesModule\DataProviders\RecurrentPaymentPaymentItemContainerDataProvider
	- Crm\InvoicesModule\DataProviders\SalesFunnelTwigVariablesDataProvider
	- Crm\InvoicesModule\DataProviders\PaymentAuditLogHistoryDataProvider

	- Crm\InvoicesModule\Events\AddressChangedHandler
	- Crm\InvoicesModule\Events\AddressRemovedHandler
	- Crm\InvoicesModule\Events\NewAddressHandler
	- Crm\InvoicesModule\Events\PaymentStatusChangeHandler
	- Crm\InvoicesModule\Forms\ChangeInvoiceDetailsFormFactory
	- Crm\InvoicesModule\Forms\ChangeInvoiceFormFactory
	- Crm\InvoicesModule\Forms\ChangeInvoiceItemsFormFactory
	- Crm\InvoicesModule\Forms\UserInvoiceFormFactory
	- Crm\InvoicesModule\Gateways\ProformaInvoice
	- Crm\InvoicesModule\Hermes\ZipInvoicesHandler
	- Crm\InvoicesModule\Hermes\GenerateInvoiceHandler

	- Crm\InvoicesModule\Scenarios\HasInvoiceCriteria

	- Crm\InvoicesModule\Models\Sandbox\InvoiceZipGenerator
	- Crm\InvoicesModule\Models\Vat\VatModeDetector

	euVatValidator:
		factory: Crm\InvoicesModule\Models\Api\EuVatValidator
		setup:
			- setOfflineValidationThreshold('P3M')
	euVatValidatorFactory: Crm\InvoicesModule\Models\Api\EuVatValidatorFactoryInterface

	invoiceSandbox: Crm\InvoicesModule\Models\Sandbox\InvoiceSandbox('/tmp')

	invoicesPreNotificationEventHandler:
		factory: Crm\InvoicesModule\Events\PreNotificationEventHandler
		setup:
			- enableForNotificationHermesTypes('new-subscription', 'payment-status-change', 'recurrent-payment-renewed', 'recurrent-payment-state-changed', 'order-status-change')

	recepitsPreNotificationEventHandler:
		factory: Crm\InvoicesModule\Events\ReceiptPreNotificationEventHandler
		setup:
			- enableForNotificationHermesTypes('payment-status-change', 'recurrent-payment-renewed')

	- Crm\InvoicesModule\Seeders\ConfigsSeeder
	- Crm\InvoicesModule\Seeders\AddressTypesSeeder
	- Crm\InvoicesModule\Seeders\PaymentGatewaysSeeder

	- Crm\InvoicesModule\DataProviders\InvoicesUserDataProvider

	paymentInvoiceProvider:
		setup:
			- register(Crm\InvoicesModule\DataProviders\PaymentInvoiceProvider())
