{if $showButton}
    <a href="{plink ':Invoices:Receipts:downloadReceipt' $paymentId}" class="btn btn-sm btn-primary">
        <i class="fa fa-download"></i> {_invoices.frontend.download_receipt}
    </a>
{/if}