{if $showButton}
    {if $admin}
        <li class="menuitem-header">{_invoices.frontend.download_receipt.header}</li>
        <li role="menuitem">
          <a href="{plink :Invoices:ReceiptsAdmin:downloadReceipt $paymentId}">
              <i class="fa fa-download"></i> {_invoices.frontend.download_receipt.download}
          </a>
        </li>
    {else}
    <a href="{plink ':Invoices:Receipts:downloadReceipt' $paymentId}" class="btn btn-sm btn-primary">
        <i class="fa fa-download"></i> {_invoices.frontend.download_receipt.download}
    </a>
    {/if}
{/if}
