menu:
	invoice_details: Számlázás

frontend:
	invoice_button:
		no_invoice: Számla nélkül
		not_available_anymore: Számla már nem igényelhető
		generate: Generálás
		system_error: Rendszerhiba! Kérlek vedd fel a kapcsolatot a szupportal!
		download: Számla letöltése
		invoice_details: Számlázás részletek

	invoice_generated:
		info: "Ön már kérvényezett számlát ehhez az előfizetéshez. Amennyiben a számlával kapcsolatos problémája, vagy kérdése támadt, úgy kérjük írjon nekünk a blabla@ujszo.com cimre."
		success: "Számla igénylését továbbítottuk az Új Szó-nak."

	invoice_details:
		title: Számlázási adatok
		invoices_link_prefix: "Eddigi számlái itt találhatja meg: "
		invoices_link: fizetések
		invoices_link_suffix: "Ezen a helye, kérjük, mentse el számlázási címét és adatait.."

	change_invoice_details:
		submit: "Adatok mentése"
		invoice: "Számlát kérek"
		company_name:
			label: Cégnév
			placeholder: "a cég számlán szereplő neve"
			required: "Meg kell adni a cég nevét"
		address:
			label: Cím
			placeholder: "számlázási cím"
			required: "Meg kell adni a cég címét"
		number:
			label: Házszám
			placeholder: "írja be a házszámot"
			required: "Meg kell adni a házszámot"
		city:
			label: Település
			placeholder: "írja be a településnevet"
			required: "Meg kell adni a településnevet"
		zip:
			label: Irányítószám
			placeholder: "írja be az irányítószámot"
			required: "Meg kell adni az irányítószámot"
		company_id:
			label: "IČO/nyilvántartási szám"
			placeholder: "például 25412547"
			required: "Meg kell adni az IČO-t/nyilvántartási számot"
		company_tax_id:
			label: "DIČ/adószám"
			placeholder: "például 2541254765"
			required: "Meg kell adni a DIČ-et/adószámot"
		company_vat_id:
			label: "IČDPH/áfás adószám"
			placeholder: "például SK2541254765"
			required: "Meg kell adni az IČDPH-t/áfás adószámot"
		success: "Sikeres címváltoztatás."
		warning: "A számlát csak a kifizetés utáni 14. napig hozhatja létre. A számla létrehozásához <a href='%link%' style='text-decoration: underline;'>kattintson ide</a>."
	download_receipt: Blokk letöltése
	proforma_invoice:
		title: Proforma invoice payment
		form_title: 'Please fill up your invoice details to complete the order'
		thank_you: 'Thank you for the order, the invoice will be sent to your email within 3 working days.'

admin:
	menu:
		export: Számla exportálása
	user_form:
		invoices: Számlák
		invoice: Számlázás engedélyezése
		disable_autoinvoice: Automatikus számlagenerálás tiltása
	default:
		export: Számla exportálása
		filelist: Fájlok generálása
		download: Letöltés
		delete: Törlés
		time: Idő
		filename: Fájlnév
	export_form:
		from_time: Kezdet
		to_time: Vég
		invoices: Számlák
		generate: Generálás
		scheduled: "Batch generation was scheduled, please wait."

component:
	payment_success_invoice_widget:
		require_invoice: "Számlát kérek"
		require_invoice_info: "Amennyiben számlát kér, ne felejtse el kitölteni számlázási adatait. Ha ezt ennél a lépésnél nem teszi meg, már nem lesz lehetséges."
		fill_invoice_address: "Kitölteni a számlázási címet"
		saved: "Minden adat mentésre került"

	invoice_label:
		invoice: Számla

form:
	invoice:
		label:
			company_name: Cégnév
			address: Cím
			number: Házszám
			city: Település
			zip: Irányítószám
			company_id: "IČO/nyilvántartási szám"
			company_tax_id: "DIČ/adószám"
			company_vat_id: "IČDPH/áfás adószám"
			country_id: Ország
			send: "Mentés"
			save: "Adatok mentése"
		placeholder:
			company_name: "a cég számlán szereplő neve"
			address: "számlázási cím"
			number: "írja be a házszámot"
			city: "írja be a településnevet"
			zip: "írja be az irányítószámot"
			company_id: "például 25412547"
			company_tax_id: "például 2541254765"
			company_vat_id: "például SK2541254765"
		required:
			company_name: "Meg kell adni a cég nevét"
			address: "Meg kell adni a cég címét"
			number: "Meg kell adni a házszámot"
			city: "Meg kell adni a településnevet"
			zip: "Meg kell adni az irányítószámot"
			company_id: "Meg kell adni az IČO-t/nyilvántartási számot"
			company_tax_id: "Meg kell adni a DIČ-et/adószámot"
			company_vat_id: "Meg kell adni az IČDPH-t/áfás adószámot"
			country_id: "Meg kell adni az országot"
		options:
			foreign_country: "A külföldi kézbesítéssel kapcsolatos információkért, kérjük, írjon az %contactEmail% címre."
